@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem-vindo ao desafio da iMúsica</h1>
    <p class="lead">Para acesso ao sistema, clique no dropdown Funcionário no menu superior.</p>
</div>
